@font-face{
    font-family: 'Gilroy-Bold';
    src: url("./fonts/Gilroy-Bold.ttf");}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@700&display=swap');

body{
    color: white;
    background-color: #181818;
    font-family: 'Roboto';
}

.inventory{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 620px;
}

.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 12px;
}

.info_page{
    column-gap: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gilroy-Bold';
}

.item{
    
    width:90px;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #4f4f4f;
    background-color: rgba(255, 255, 255, 0.05);
}

.item-unactive{
    background-color:rgba(0, 0, 0, 0.3);
    border: 1px dashed #4f4f4f;
}

.content_item{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.image_item{
    width: 70%;
    height: 70%;
}

.count_items{
    position: absolute;
    left: 0;
    right: 0;
    text-align: end;
    font-size: 12px;
    margin-top: 100%;
    padding-bottom: 4px;
    padding-right: 4px;
}


button{
    color: #1b1b1b;
    border-radius: 50%;
    border: 0;
    background-color: #484848;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

button:hover{
    width: 32px;
    height: 32px;
}

.name_item{
    color: #b0a184;
    height: 28px;
    display: none;
    position: fixed;
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: #1b1b1b;
    align-items: center;
    margin-bottom: 100px;
    border: 1px dashed #5c5548;
    border-radius: 1px;
    padding: 0 5px;
}


.item:hover .name_item{
    display: flex;
}